USE [QLHC_NHOM95]
GO
/****** Object:  Table [dbo].[BaiThiNghiem]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiThiNghiem](
	[MaBaiTN] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiTN] [nvarchar](255) NOT NULL,
	[MaMon] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDeXuat]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDeXuat](
	[MaPhieuDX] [int] NOT NULL,
	[MaHoaChat] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDX] ASC,
	[MaHoaChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhanBo]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhanBo](
	[MaPhieuPB] [int] NOT NULL,
	[MaLo] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuPB] ASC,
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuTru]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuTru](
	[MaHoaChat] [int] NOT NULL,
	[MaBaiTN] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaChat] ASC,
	[MaBaiTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuyetDuTru]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuyetDuTru](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaBaiTN] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NgayDuyet] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[LyDoTuChoi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuyetPhieuDX]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuyetPhieuDX](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDX] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NgayDuyet] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[LyDoTuChoi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuyetPhieuTL]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuyetPhieuTL](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuTL] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NgayDuyet] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LyDoTuChoi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaChat]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaChat](
	[MaHoaChat] [int] IDENTITY(1,1) NOT NULL,
	[SoCAS] [nvarchar](50) NOT NULL,
	[TenHoaChat] [nvarchar](255) NOT NULL,
	[DonVi] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[CongThucHoaHoc] [nvarchar](255) NULL,
	[NguyHiem] [nvarchar](255) NULL,
	[SoLieuAnToan] [nvarchar](255) NULL,
	[ThoiHanSuDung] [date] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[NgayTao] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoHoaChat]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHoaChat](
	[MaLo] [int] IDENTITY(1,1) NOT NULL,
	[SoLo] [varchar](20) NOT NULL,
	[NhaCungCap] [nvarchar](255) NULL,
	[SoLuong] [int] NOT NULL,
	[HanSuDung] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaHoaChat] [int] NOT NULL,
	[MaPhieuTL] [int] NULL,
	[MaPhieuNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLHP] [int] IDENTITY(1,1) NOT NULL,
	[TenLopHocPhan] [varchar](15) NULL,
	[SiSo] [int] NOT NULL,
	[GVDay] [nvarchar](100) NULL,
	[MaMon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](255) NOT NULL,
	[SoTC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[TenNguoiDung] [nvarchar](255) NULL,
	[MatKhauHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[NgayTao] [date] NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDeXuat]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDeXuat](
	[MaPhieuDX] [int] IDENTITY(1,1) NOT NULL,
	[LyDo] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[MaNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuPhanBo]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuPhanBo](
	[MaPhieuPB] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[MaLHP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThanhLy]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThanhLy](
	[MaPhieuTL] [int] IDENTITY(1,1) NOT NULL,
	[LyDo] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[PhuongThucThanhLy] [nvarchar](50) NULL,
	[NgayTao] [datetime] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiThiNghiem] ON 

INSERT [dbo].[BaiThiNghiem] ([MaBaiTN], [TenBaiTN], [MaMon], [TrangThai]) VALUES (1, N'Thí nghiệm 1 Hóa đại cương', 1, N'Đã duyệt')
INSERT [dbo].[BaiThiNghiem] ([MaBaiTN], [TenBaiTN], [MaMon], [TrangThai]) VALUES (2, N'Thí nghiệm 1 Vật lý hóa học', 2, N'Đã duyệt')
INSERT [dbo].[BaiThiNghiem] ([MaBaiTN], [TenBaiTN], [MaMon], [TrangThai]) VALUES (3, N'Thí nghiệm 1 Hóa phân tích', 3, N'Đã duyệt')
SET IDENTITY_INSERT [dbo].[BaiThiNghiem] OFF
GO
INSERT [dbo].[ChiTietDeXuat] ([MaPhieuDX], [MaHoaChat], [SoLuong], [DonGia]) VALUES (1, 1, 10, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDeXuat] ([MaPhieuDX], [MaHoaChat], [SoLuong], [DonGia]) VALUES (2, 2, 15, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDeXuat] ([MaPhieuDX], [MaHoaChat], [SoLuong], [DonGia]) VALUES (3, 3, 20, CAST(20000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[ChiTietPhanBo] ([MaPhieuPB], [MaLo], [SoLuong]) VALUES (1, 1, 10)
INSERT [dbo].[ChiTietPhanBo] ([MaPhieuPB], [MaLo], [SoLuong]) VALUES (2, 2, 15)
INSERT [dbo].[ChiTietPhanBo] ([MaPhieuPB], [MaLo], [SoLuong]) VALUES (3, 3, 20)
GO
INSERT [dbo].[DuTru] ([MaHoaChat], [MaBaiTN], [SoLuong]) VALUES (1, 1, 10)
INSERT [dbo].[DuTru] ([MaHoaChat], [MaBaiTN], [SoLuong]) VALUES (1, 13, 100)
INSERT [dbo].[DuTru] ([MaHoaChat], [MaBaiTN], [SoLuong]) VALUES (1, 14, 1500)
GO
SET IDENTITY_INSERT [dbo].[DuyetDuTru] ON 

INSERT [dbo].[DuyetDuTru] ([MaLichSu], [MaBaiTN], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (1, 1, 3, CAST(N'2024-12-12T10:30:00.000' AS DateTime), N'Đã duyệt', NULL)
INSERT [dbo].[DuyetDuTru] ([MaLichSu], [MaBaiTN], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (2, 2, 4, CAST(N'2024-12-12T11:15:00.000' AS DateTime), N'Đã duyệt', NULL)
INSERT [dbo].[DuyetDuTru] ([MaLichSu], [MaBaiTN], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (3, 3, 3, CAST(N'2024-12-12T14:45:00.000' AS DateTime), N'Đã duyệt', NULL)
SET IDENTITY_INSERT [dbo].[DuyetDuTru] OFF
GO
SET IDENTITY_INSERT [dbo].[DuyetPhieuDX] ON 

INSERT [dbo].[DuyetPhieuDX] ([MaLichSu], [MaPhieuDX], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (1, 1, 1, CAST(N'2024-06-01T10:00:00.000' AS DateTime), N'Đã duyệt', NULL)
INSERT [dbo].[DuyetPhieuDX] ([MaLichSu], [MaPhieuDX], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (2, 3, 2, CAST(N'2024-06-03T11:30:00.000' AS DateTime), N'Đã duyệt', NULL)
INSERT [dbo].[DuyetPhieuDX] ([MaLichSu], [MaPhieuDX], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (3, 5, 2, CAST(N'2024-06-05T14:00:00.000' AS DateTime), N'Đã duyệt', NULL)
SET IDENTITY_INSERT [dbo].[DuyetPhieuDX] OFF
GO
SET IDENTITY_INSERT [dbo].[DuyetPhieuTL] ON 

INSERT [dbo].[DuyetPhieuTL] ([MaLichSu], [MaPhieuTL], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (1, 1, 2, CAST(N'2024-11-25T00:00:00.000' AS DateTime), N'Chờ duyệt', NULL)
INSERT [dbo].[DuyetPhieuTL] ([MaLichSu], [MaPhieuTL], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (2, 2, 2, CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'Chờ duyệt', NULL)
INSERT [dbo].[DuyetPhieuTL] ([MaLichSu], [MaPhieuTL], [MaNguoiDung], [NgayDuyet], [TrangThai], [LyDoTuChoi]) VALUES (3, 3, 1, CAST(N'2024-11-27T00:00:00.000' AS DateTime), N'Chờ duyệt', NULL)
SET IDENTITY_INSERT [dbo].[DuyetPhieuTL] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaChat] ON 

INSERT [dbo].[HoaChat] ([MaHoaChat], [SoCAS], [TenHoaChat], [DonVi], [MoTa], [CongThucHoaHoc], [NguyHiem], [SoLieuAnToan], [ThoiHanSuDung], [HinhAnh], [NgayTao]) VALUES (1, N'66-71-7', N'1,10-Phenanthroline', N'g', N'Hợp chất hữu cơ được sử dụng trong phân tích hóa học', N'C12H8N2', N'Nguy hiểm khi hít phải hoặc tiếp xúc với da', N'Mang khẩu trang và găng tay khi xử lý', CAST(N'2025-01-01' AS Date), N'image1.jpg', CAST(N'2024-10-01' AS Date))
INSERT [dbo].[HoaChat] ([MaHoaChat], [SoCAS], [TenHoaChat], [DonVi], [MoTa], [CongThucHoaHoc], [NguyHiem], [SoLieuAnToan], [ThoiHanSuDung], [HinhAnh], [NgayTao]) VALUES (2, N'123-91-1', N'1,4-Dioxane', N'mL', N'Dung môi hữu cơ dùng trong tổng hợp hóa học', N'C4H8O2', N'Dễ cháy, có thể gây kích ứng đường hô hấp', N'Làm việc trong môi trường thông thoáng, tránh lửa', CAST(N'2025-01-01' AS Date), N'image2.jpg', CAST(N'2024-10-01' AS Date))
INSERT [dbo].[HoaChat] ([MaHoaChat], [SoCAS], [TenHoaChat], [DonVi], [MoTa], [CongThucHoaHoc], [NguyHiem], [SoLieuAnToan], [ThoiHanSuDung], [HinhAnh], [NgayTao]) VALUES (3, N'130-23-4', N'1-amino-2 naphtol-4 sunfonic acid', N'g', N'Chất màu dùng trong nghiên cứu hóa học', N'C10H9NO4S', N'Tiếp xúc lâu dài có thể gây tổn thương nội tạng', N'Sử dụng kính bảo hộ và mặt nạ', CAST(N'2025-01-01' AS Date), N'image3.jpg', CAST(N'2024-10-01' AS Date))
SET IDENTITY_INSERT [dbo].[HoaChat] OFF
GO
SET IDENTITY_INSERT [dbo].[LoHoaChat] ON 

INSERT [dbo].[LoHoaChat] ([MaLo], [SoLo], [NhaCungCap], [SoLuong], [HanSuDung], [TrangThai], [SoLuongTon], [GhiChu], [MaHoaChat], [MaPhieuTL], [MaPhieuNhap]) VALUES (1, N'LOT-66-71-7-001', N'Công ty Cổ phần Hóa chất TPHCM', 100, CAST(N'2026-12-31' AS Date), N'Đã thanh lý', 80, N'Lô nhập tháng 10', 1, 1, 1)
INSERT [dbo].[LoHoaChat] ([MaLo], [SoLo], [NhaCungCap], [SoLuong], [HanSuDung], [TrangThai], [SoLuongTon], [GhiChu], [MaHoaChat], [MaPhieuTL], [MaPhieuNhap]) VALUES (2, N'LOT-123-91-1-001', N'Công ty TNHH Thương mại Dịch vụ Xuất Nhập khẩu Khánh An Sài Gòn', 50, CAST(N'2024-12-31' AS Date), N'Đang sử dụng', 50, N'Lô nhập tháng 10', 2, NULL, 2)
INSERT [dbo].[LoHoaChat] ([MaLo], [SoLo], [NhaCungCap], [SoLuong], [HanSuDung], [TrangThai], [SoLuongTon], [GhiChu], [MaHoaChat], [MaPhieuTL], [MaPhieuNhap]) VALUES (3, N'LOT-123-91-1-002', N'Công ty TNHH Thương mại Dịch vụ Xuất Nhập khẩu Khánh An Sài Gòn', 100, CAST(N'2026-12-31' AS Date), N'Đang thanh lý', 100, N'Lô nhập tháng 10', 1, 5, 2)
SET IDENTITY_INSERT [dbo].[LoHoaChat] OFF
GO
SET IDENTITY_INSERT [dbo].[LopHocPhan] ON 

INSERT [dbo].[LopHocPhan] ([MaLHP], [TenLopHocPhan], [SiSo], [GVDay], [MaMon]) VALUES (1, N'LOPH001', 30, N'Thầy Trần Tuấn', 1)
INSERT [dbo].[LopHocPhan] ([MaLHP], [TenLopHocPhan], [SiSo], [GVDay], [MaMon]) VALUES (2, N'LOPH002', 25, N'Thầy Bình', 2)
INSERT [dbo].[LopHocPhan] ([MaLHP], [TenLopHocPhan], [SiSo], [GVDay], [MaMon]) VALUES (3, N'LOPH003', 40, N'Cô Nhật Lệ', 3)
SET IDENTITY_INSERT [dbo].[LopHocPhan] OFF
GO
SET IDENTITY_INSERT [dbo].[MonHoc] ON 

INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC]) VALUES (1, N'Hóa đại cương', 3)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC]) VALUES (2, N'Vật lý hóa học', 3)
INSERT [dbo].[MonHoc] ([MaMon], [TenMon], [SoTC]) VALUES (3, N'Hóa phân tích', 3)
SET IDENTITY_INSERT [dbo].[MonHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [TenNguoiDung], [MatKhauHash], [Email], [VaiTro], [NgayTao], [HinhAnh]) VALUES (1, N'user1', N'Thanh Triệu', N'00c6ee2e21a7548de6260cf72c4f4b5b', N'user1@example.com', N'Admin', CAST(N'2024-01-01' AS Date), N'image1.jpg')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [TenNguoiDung], [MatKhauHash], [Email], [VaiTro], [NgayTao], [HinhAnh]) VALUES (2, N'user2', N'Tuấn Khang', N'58833651db311ba4bc11cb26b1900b0f', N'user2@example.com', N'Admin', CAST(N'2024-01-02' AS Date), N'image2.jpg')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [TenNguoiDung], [MatKhauHash], [Email], [VaiTro], [NgayTao], [HinhAnh]) VALUES (3, N'user3', N'Trần Tuấn', N'1a4ead8b39d17dfe89418452c9bba770', N'user3@example.com', N'Nhân viên', CAST(N'2024-01-03' AS Date), N'image3.jpg')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDeXuat] ON 

INSERT [dbo].[PhieuDeXuat] ([MaPhieuDX], [LyDo], [TrangThai], [NgayTao], [MaNguoiDung]) VALUES (1, N'Cần cho thí nghiệm', N'Đã duyệt', CAST(N'2024-05-01T08:30:00.000' AS DateTime), 6)
INSERT [dbo].[PhieuDeXuat] ([MaPhieuDX], [LyDo], [TrangThai], [NgayTao], [MaNguoiDung]) VALUES (2, N'Cần thêm hóa chất', N'Đã duyệt', CAST(N'2024-05-02T09:00:00.000' AS DateTime), 7)
INSERT [dbo].[PhieuDeXuat] ([MaPhieuDX], [LyDo], [TrangThai], [NgayTao], [MaNguoiDung]) VALUES (3, N'Dự trữ', N'Đã duyệt', CAST(N'2024-05-03T10:00:00.000' AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[PhieuDeXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [SoLuongNhap], [NgayNhap], [GhiChu], [MaNguoiDung]) VALUES (1, 100, CAST(N'2024-07-01T08:00:00.000' AS DateTime), N'Nhập hàng đợt 1', 3)
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [SoLuongNhap], [NgayNhap], [GhiChu], [MaNguoiDung]) VALUES (2, 150, CAST(N'2024-07-02T09:00:00.000' AS DateTime), N'Nhập hàng đợt 2', 4)
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [SoLuongNhap], [NgayNhap], [GhiChu], [MaNguoiDung]) VALUES (3, 200, CAST(N'2024-07-03T10:00:00.000' AS DateTime), N'Nhập hàng đợt 3', 5)
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuPhanBo] ON 

INSERT [dbo].[PhieuPhanBo] ([MaPhieuPB], [NgayLap], [NoiDung], [MaLHP]) VALUES (1, CAST(N'2024-04-01T08:00:00.000' AS DateTime), N'Phân bổ hóa chất', 1)
INSERT [dbo].[PhieuPhanBo] ([MaPhieuPB], [NgayLap], [NoiDung], [MaLHP]) VALUES (2, CAST(N'2024-04-02T09:30:00.000' AS DateTime), N'Phân bổ hóa chất', 2)
INSERT [dbo].[PhieuPhanBo] ([MaPhieuPB], [NgayLap], [NoiDung], [MaLHP]) VALUES (3, CAST(N'2024-04-03T10:15:00.000' AS DateTime), N'Phân bổ hóa chất', 3)
SET IDENTITY_INSERT [dbo].[PhieuPhanBo] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuThanhLy] ON 

INSERT [dbo].[PhieuThanhLy] ([MaPhieuTL], [LyDo], [TrangThai], [PhuongThucThanhLy], [NgayTao], [MaNguoiDung]) VALUES (1, N'Lý do thanh lý hóa chất cũ', N'Đã duyệt thanh lý', N'Bán', CAST(N'2024-11-24T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[PhieuThanhLy] ([MaPhieuTL], [LyDo], [TrangThai], [PhuongThucThanhLy], [NgayTao], [MaNguoiDung]) VALUES (2, N'Hóa chất hết hạn sử dụng', N'Chờ duyệt', N'Hủy', CAST(N'2024-11-25T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[PhieuThanhLy] ([MaPhieuTL], [LyDo], [TrangThai], [PhuongThucThanhLy], [NgayTao], [MaNguoiDung]) VALUES (3, N'Thanh lý do không cần thiết nữa', N'Đã từ chối', N'Bán', CAST(N'2024-11-26T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[PhieuThanhLy] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaChat__23A59A95F6E51B70]    Script Date: 19/12/2024 10:08:38 pm ******/
ALTER TABLE [dbo].[HoaChat] ADD UNIQUE NONCLUSTERED 
(
	[SoCAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC03584E33B]    Script Date: 19/12/2024 10:08:38 pm ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534C4597808]    Script Date: 19/12/2024 10:08:38 pm ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiThiNghiem]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietDeXuat]  WITH CHECK ADD FOREIGN KEY([MaHoaChat])
REFERENCES [dbo].[HoaChat] ([MaHoaChat])
GO
ALTER TABLE [dbo].[ChiTietDeXuat]  WITH CHECK ADD FOREIGN KEY([MaPhieuDX])
REFERENCES [dbo].[PhieuDeXuat] ([MaPhieuDX])
GO
ALTER TABLE [dbo].[ChiTietPhanBo]  WITH CHECK ADD FOREIGN KEY([MaPhieuPB])
REFERENCES [dbo].[PhieuPhanBo] ([MaPhieuPB])
GO
ALTER TABLE [dbo].[ChiTietPhanBo]  WITH CHECK ADD FOREIGN KEY([MaLo])
REFERENCES [dbo].[LoHoaChat] ([MaLo])
GO
ALTER TABLE [dbo].[DuTru]  WITH CHECK ADD FOREIGN KEY([MaBaiTN])
REFERENCES [dbo].[BaiThiNghiem] ([MaBaiTN])
GO
ALTER TABLE [dbo].[DuTru]  WITH CHECK ADD FOREIGN KEY([MaHoaChat])
REFERENCES [dbo].[HoaChat] ([MaHoaChat])
GO
ALTER TABLE [dbo].[DuyetDuTru]  WITH CHECK ADD FOREIGN KEY([MaBaiTN])
REFERENCES [dbo].[BaiThiNghiem] ([MaBaiTN])
GO
ALTER TABLE [dbo].[DuyetDuTru]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DuyetPhieuDX]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DuyetPhieuDX]  WITH CHECK ADD FOREIGN KEY([MaPhieuDX])
REFERENCES [dbo].[PhieuDeXuat] ([MaPhieuDX])
GO
ALTER TABLE [dbo].[DuyetPhieuTL]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DuyetPhieuTL]  WITH CHECK ADD FOREIGN KEY([MaPhieuTL])
REFERENCES [dbo].[PhieuThanhLy] ([MaPhieuTL])
GO
ALTER TABLE [dbo].[LoHoaChat]  WITH CHECK ADD FOREIGN KEY([MaHoaChat])
REFERENCES [dbo].[HoaChat] ([MaHoaChat])
GO
ALTER TABLE [dbo].[LoHoaChat]  WITH CHECK ADD FOREIGN KEY([MaPhieuTL])
REFERENCES [dbo].[PhieuThanhLy] ([MaPhieuTL])
GO
ALTER TABLE [dbo].[LoHoaChat]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_MonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_MonHoc]
GO
ALTER TABLE [dbo].[PhieuDeXuat]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuPhanBo]  WITH CHECK ADD FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
GO
ALTER TABLE [dbo].[PhieuThanhLy]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThanhLy_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[PhieuThanhLy] CHECK CONSTRAINT [FK_PhieuThanhLy_NguoiDung]
GO
/****** Object:  StoredProcedure [dbo].[GetChemicalDetailsInPhieuThanhLy]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetChemicalDetailsInPhieuThanhLy]
    @MaPhieuTL INT
AS
BEGIN
    -- Lấy thông tin về Phiếu Thanh Lý
    SELECT 
        pt.MaPhieuTL,
        pt.LyDo,
        pt.TrangThai,
        pt.PhuongThucThanhLy,
        pt.NgayTao AS NgayTaoPhieuTL,
        pt.MaNguoiDung,
        nd.TenDangNhap AS TenNguoiDung
    FROM dbo.PhieuThanhLy pt
    JOIN dbo.NguoiDung nd ON pt.MaNguoiDung = nd.MaNguoiDung
    WHERE pt.MaPhieuTL = @MaPhieuTL;

    -- Lấy thông tin về các hóa chất trong phiếu thanh lý
    SELECT 
        hc.MaHoaChat,
        hc.TenHoaChat,
        hc.SoCAS,
        hc.DonVi,
        hc.MoTa,
        hc.CongThucHoaHoc,
        hc.NguyHiem,
        hc.SoLieuAnToan,
        hc.ThoiHanSuDung,
        hc.HinhAnh,
        hc.NgayTao AS NgayTaoHoaChat
    FROM dbo.HoaChat hc
    INNER JOIN dbo.LoHoaChat lh ON hc.MaHoaChat = lh.MaHoaChat
    WHERE lh.MaPhieuTL = @MaPhieuTL;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetMaxQuantityLotByChemicalName]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMaxQuantityLotByChemicalName]
    @TenHoaChat NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 
        Lo.MaLo, 
        Lo.SoLuongTon, 
        Lo.MaPhieuTL
    FROM LoHoaChat AS Lo
    INNER JOIN HoaChat AS HC ON Lo.MaHoaChat = HC.MaHoaChat
    WHERE HC.TenHoaChat = @TenHoaChat
      AND Lo.MaPhieuTL IS NULL
    ORDER BY Lo.SoLuongTon DESC;
END;
--EXEC GetMaxQuantityLotByChemicalName @TenHoaChat = N'1,10-Phenanthroline';
GO
/****** Object:  StoredProcedure [dbo].[GetPhieuThanhLyDetails]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPhieuThanhLyDetails]
AS
BEGIN
    SELECT 
        p.MaPhieuTL,
        p.LyDo,
        p.TrangThai,
        p.PhuongThucThanhLy,
        p.NgayTao,
        p.MaNguoiDung,
        u.TenDangNhap AS NguoiDung_TenDangNhap,
        u.Email AS NguoiDung_Email,
        lh.MaLo,
        lh.NhaCungCap,
        lh.SoLuong,
				lh.SoLuongTon,
		lh.GhiChu,
        lh.HanSuDung,
        lh.TrangThai AS LoTrangThai,
        hc.TenHoaChat,
			hc.DonVi,
		hc.CongThucHoaHoc,
		hc.HinhAnh,
		hc.MoTa,
		hc.NguyHiem,
		hc.SoLieuAnToan,
	
		dh.NgayDuyet,
        lh.SoLo AS HoaChatSoLo,
        hc.SoCAS AS HoaChatSoCAS,
        dh.MaNguoiDung AS DuyetPhieuTL_MaNguoiDung,
        dh.NgayDuyet AS DuyetPhieuTL_NgayDuyet,
        dh.TrangThai AS DuyetPhieuTL_TrangThai
    FROM PhieuThanhLy p
    INNER JOIN NguoiDung u ON p.MaNguoiDung = u.MaNguoiDung
    LEFT JOIN LoHoaChat lh ON lh.MaPhieuTL = p.MaPhieuTL
    LEFT JOIN HoaChat hc ON lh.MaHoaChat = hc.MaHoaChat
    LEFT JOIN DuyetPhieuTL dh ON p.MaPhieuTL = dh.MaPhieuTL
    ORDER BY p.NgayTao DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetPhieuThanhLyDetailsChiTiet]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create  PROCEDURE [dbo].[GetPhieuThanhLyDetailsChiTiet]
    @MaPhieuTL INT
AS
BEGIN
    -- Lấy thông tin về Phiếu Thanh Lý
    SELECT 
        p.MaPhieuTL,
        p.LyDo,
        p.TrangThai,
        p.PhuongThucThanhLy,
        p.NgayTao,
        p.MaNguoiDung,
        u.TenDangNhap AS NguoiDung_TenDangNhap,
        u.Email AS NguoiDung_Email,
        lh.MaLo,
        lh.NhaCungCap,
        lh.SoLuong,
		lh.SoLuongTon,
		lh.GhiChu,
        lh.HanSuDung,
        lh.TrangThai AS LoTrangThai,
        hc.TenHoaChat,
		hc.DonVi,
		hc.CongThucHoaHoc,
		hc.HinhAnh,
		hc.MoTa,
		hc.NguyHiem,
		hc.SoLieuAnToan,
	
		dh.NgayDuyet,
		
        lh.SoLo AS HoaChatSoLo,
        hc.SoCAS AS HoaChatSoCAS,
        dh.MaNguoiDung AS DuyetPhieuTL_MaNguoiDung,
        dh.NgayDuyet AS DuyetPhieuTL_NgayDuyet,
        dh.TrangThai AS DuyetPhieuTL_TrangThai
    FROM PhieuThanhLy p
    INNER JOIN NguoiDung u ON p.MaNguoiDung = u.MaNguoiDung
    LEFT JOIN LoHoaChat lh ON lh.MaPhieuTL = p.MaPhieuTL
    LEFT JOIN HoaChat hc ON lh.MaHoaChat = hc.MaHoaChat
    LEFT JOIN DuyetPhieuTL dh ON p.MaPhieuTL = dh.MaPhieuTL
    WHERE p.MaPhieuTL = @MaPhieuTL
    ORDER BY p.NgayTao DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[ThongKeHoaChatSapHetHan]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeHoaChatSapHetHan]
    @SoNgayCanhBao INT -- Số ngày để cảnh báo trước khi hết hạn
AS
BEGIN
    SELECT 
        hc.TenHoaChat AS HoaChat,
        hc.SoCAS AS MaCAS,
        lh.SoLo AS MaLo,
        lh.HanSuDung AS HanSuDung,
        DATEDIFF(DAY, GETDATE(), lh.HanSuDung) AS SoNgayConLai,
        lh.SoLuongTon AS SoLuongTon
    FROM LoHoaChat lh
    INNER JOIN HoaChat hc ON lh.MaHoaChat = hc.MaHoaChat
    WHERE 
        lh.HanSuDung BETWEEN GETDATE() AND DATEADD(DAY, @SoNgayCanhBao, GETDATE())
        AND lh.SoLuongTon > 0
    ORDER BY lh.HanSuDung ASC, hc.TenHoaChat;
END;
GO
/****** Object:  StoredProcedure [dbo].[ThongKeHoaChatSuDungTheoMonHoc]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeHoaChatSuDungTheoMonHoc]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT 
        mh.TenMon AS MonHoc,
        hc.TenHoaChat AS HoaChat,
        SUM(ctpb.SoLuong) AS TongSoLuongSuDung
    FROM ChiTietPhanBo ctpb
    INNER JOIN LoHoaChat lh ON ctpb.MaLo = lh.MaLo
    INNER JOIN HoaChat hc ON lh.MaHoaChat = hc.MaHoaChat
    INNER JOIN LopHocPhan lhp ON ctpb.MaPhieuPB = lhp.MaLHP
    INNER JOIN MonHoc mh ON lhp.MaMon = mh.MaMon
    INNER JOIN PhieuPhanBo ppb ON ctpb.MaPhieuPB = ppb.MaPhieuPB
    WHERE 
        ppb.NgayLap BETWEEN @StartDate AND @EndDate
    GROUP BY mh.TenMon, hc.TenHoaChat
    ORDER BY mh.TenMon, hc.TenHoaChat;
END;
GO
/****** Object:  StoredProcedure [dbo].[ThongKeHoaChatTonKho]    Script Date: 19/12/2024 10:08:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongKeHoaChatTonKho]
AS
BEGIN
    SELECT 
        hc.TenHoaChat AS HoaChat,
        hc.SoCAS AS MaCAS,
        SUM(lh.SoLuongTon) AS TongSoLuongTon,
        COUNT(lh.MaLo) AS SoLoHoaChat
    FROM LoHoaChat lh
    INNER JOIN HoaChat hc ON lh.MaHoaChat = hc.MaHoaChat
    WHERE lh.SoLuongTon > 0
    GROUP BY hc.TenHoaChat, hc.SoCAS
    ORDER BY TongSoLuongTon DESC;
END;
GO
